:root {
	--solid: rgba(255, 255, 255, 1);
	--opaque: rgba(255, 255, 255, 0.7);
	--vague: rgba(255, 255, 255, 0.15);
	--background: radial-gradient(ellipse at center, #76b852 0%,#8DC26F 100%);
	--transparent: #76b852;
}
html {
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
}
body {
	background: var(--background);
  color: var(--opaque);
	font-weight: 200;
}
header {
	text-align: center;
  margin: 60px 0;
}
h1 {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
	margin: 0 0 10px 0;
	font-weight: 200;
  font-size: 2.6rem;
	color: var(--solid);
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin: 0 auto;
  max-width: 768px;
}
button {
	border: none;
	border-radius: 4px;
	background: var(--opaque);
	padding: 6px;
	margin: 12px;
	cursor: pointer;
	outline: none;
}
button.selected {
	background: var(--solid);
}
button .icon {
	fill: var(--transparent);
}
.icon-container {
  padding: 24px;
}
.icon-container .icon {
  transition: all .05s ease;
}
.icon-container:hover .icon {
  transform: scale(2);
	fill: var(--solid);
}
.name {
	color: var(--solid);
	display: none;
	font-size: 1.3rem;
}
.icon {
	width: 24px;
	height: 24px;
	fill: var(--opaque);
	vertical-align: middle;
}
.list .icon-container {
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid var(--vague);
}
.list .name {
	margin-left: 60px;
	display: inline;
}
footer {
  margin: 20px 0;
  text-align: center;
	font-weight: 400;

}
.rotate img {
	animation: rotate .8s linear infinite;
}
@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
