:root {
	--color: #FDE3A7;
	--background: #F2784B;
}

html {
  font-size: 15px;
  font-family: 'Baloo Bhai', cursive;
}
body {
	background: var(--background);
  color: var(--color);
}

h1 {
  width: 100%;
  text-align: center;
  margin: 60px 0;
  letter-spacing: 2px;
  font-size: 2rem;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin: 0 auto;
  max-width: 768px;
}
.icon-container {
  position: relative;
  padding: 36px;
}
.icon-container .icon {
  transition: all .05s ease;
}
.icon-container:hover .icon {
  transform: scale(2);
}
.icon {
	width: 24px;
	height: 24px;
	fill: var(--color);
}
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.75rem;

}
.search {
  color: var(--background);
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  top: -10px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 3px 6px;
  border-radius: 2px;
}
.icon-container:hover .search {
	background: var(--color);
}

.rotate img {
	animation: rotate .8s linear infinite;
}

@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
